# Set this up in crontab, using e.g. `crontab -e`
45 11 * * * /usr/local/bin/casperjs --ssl-protocol=any --ignore-ssl-errors=true --web-security=no eatclub_order/order_food.js > eatclub_order/log.txt
