{
  "_instructions" : "Copy this JSON file to name "$HOME/.eatclubrc", specify your eatclub credentials and preferred food filters",
  "eatclub_email": "my-email@example.com",
  "eatclub_password": "my-password",
  "preferences": [
    {
      "include": "Paleo",
      "exclude": "routs"
    },
    {
      "include": "butter chicken"
    }
  ]
}